html {
  font-family: "Handjet";
  text-align: center;
  background-color: black;
  color: white;
  font-size: 16px;
}

body {
  font-size: 62.5%;
}

.content-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.welcome-text {
  color: red;
  font-weight: 700;
  font-size: 4rem;
}

.instructions {
  font-size: 1.6rem;
}

.credits {
  font-size: 2.4rem;
  color: white;
}

.notice {
  font-size: 2.4rem;
  color: white;
}

/* Paytable */
.paytable-wrapper {
  margin: 2rem auto;
}

.paytable {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
}

.paytable-heading {
  font-size: 2.4rem;
}

.paytable-entry {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "payout" "combo";
  align-items: center;
  background-color: rgb(230, 17, 70);
  border: 2px solid white;
  border-radius: 0.7rem;
  padding: 0.3rem;
}

.payout {
  grid-area: payout;
  font-size: 1.3rem;
  margin: 0;
}

.fruit-combination {
  grid-area: combo;
  margin: 0;
}

/*Choices AS A WHOLE*/
.choices {
  width: 100%;
}

.choices-label {
  font-size: 1.4rem;
  margin: 1rem auto 0.4rem;
}

/*Buttons*/
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.multiplier {
  font-size: 1.8rem;
  margin: 5px;
  box-sizing: border-box;
  background-color: rgba(243, 243, 71, 0.658);
  padding: 3px;
  cursor: pointer;
  font-family: inherit;
}

.current-bet {
  background-color: red;
}

.spin {
  margin-left: 50px;
  box-sizing: border-box;
  background-color: green;
  padding: 10px;
  color: white;
}

.reels-wrapper {
  margin: 10px auto;
  display: flex;
  gap: 20px;
}

.game-over .reels-wrapper {
  display: none;
}

.game-over .buttons {
  display: none;
}

.reel {
  font-family: "Handjet", "Apple Color Emoji", "Segoe UI Emoji",
    "Noto Color Emoji", sans-serif;
  width: 20%;
  height: 200px;
  background-color: rgb(30, 96, 137);
  border: 2px rgb(4, 60, 97) solid;
  border-radius: 1rem;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Credits*/
.credits {
  box-sizing: border-box;
  background-color: white;
  border: 4px solid tan;
  padding: 3px;
  color: black;
  max-width: fit-content;
  margin: 0 auto;
}
