html {
    font-family: "Handjet";
    text-align: center;
    background-color: black;
    color: white;
}

body {
    margin: 0px 200px
}

body p {
    font-size: 1.5em
}

.welcome-text {
    color: red;
    font-weight: 700;
    font-size: 5em
}

/*Pay Table*/
.paytable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-column {
    width: 40%;
}

.winnings {
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid white;
    height: 70px;
    padding: 5px;
    margin: 10px;
    flex: 2 0.5 auto;
}

.winnings img {
    max-height: 80%;
}

.winnings p {
    font-size: 3em;
}

/*Choices AS A WHOLE*/
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative
}

/*Buttons*/
.buttons {
    display: flex;
    align-items: center;
    font-size: 2em;
    margin: 0 auto
}

.buttons p {
    margin-right: 20px;
}

.multiplier {
    margin: 5px;
    box-sizing: border-box;
    background-color: rgba(243, 243, 71, 0.658);
    padding: 10px;
}

.spin {
    margin-left: 75px;
    box-sizing: border-box;
    background-color: green;
    padding: 10px 30px;
    color: white
}

/*Credits*/
.credits {
    box-sizing: border-box;
    background-color: white;
    border: 4px solid tan;
    padding: 3px;
    color: black;
    right: 0
}