html {
    font-family: "Handjet";
    text-align: center;
    background-color: black;
    color: white;
}

body {
    margin: 0px 150px
}

body p {
    font-size: 1.5em
}

.welcome-text {
    color: red;
    font-weight: 700;
    font-size: 5em
}

/*Pay Table*/
.paytable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-column {
    width: 40%;
}

.winnings {
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid white;
    height: 70px;
    padding: 5px;
    margin: 10px;
    flex: 2 0.5 auto;
}

.winnings img {
    max-height: 80%;
}

.winnings p {
    font-size: 3em;
}