.reels {
    display: flex;
    /* grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px; */
    justify-content: center;
}

.reel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid white;
    height: 600px;
    width: 100%;
    margin: 5px;
    overflow: hidden;
}

.reel-image {
    width: 70%;
    height: 33%;
    margin: 0;
    object-fit: contain;
}
